{
  "name": "{{PROJECT_NAME}}",
  "version": "0.0.0",
  "type": "module",
  "private": true,
  "scripts": {
    "start": "bun run src/index.ts",
    "test": "bun test",
    "typecheck": "tsc --noEmit"
  },
  "dependencies": {
    "@inkjs/ui": "*",
    "@langchain/anthropic": "*",
    "@langchain/core": "*",
    "@langchain/langgraph": "*",
    "@langchain/openai": "*",
    "chalk": "*",
    "ink": "*",
    "ink-spinner": "*",
    "ink-text-input": "*",
    "langchain": "*",
    "minimist": "*",
    "react": "*",
    "zod": "*"
  },
  "devDependencies": {
    "@types/minimist": "*",
    "@types/react": "*",
    "bun-types": "*",
    "ink-testing-library": "*",
    "typescript": "*"
  }
}
